/*
 * Bootstrap Documentation
 * Special styles for presenting Bootstrap's documentation and code examples.
 */



/* Key scaffolding
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  /*position: relative;  For scrollyspy */
  /*padding-top: 50px;  Account for fixed navbar */
  color: #333;
  background: #d0c4b6 url('/img/pics/noise.png');
}

h1 {
    font-size: 45px;
    text-indent: 20px;
    /*border-bottom: 1px dotted;*/
    /*margin-bottom: 30px;*/
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    background-color: #fff;
    float: none;
    clear: both;
    padding: 7px;
    border-radius: 4px;
    top: -10px;
    text-align: center;
}

.caption span.photographer {
    font-style: italic;
}

.caption span.title {
    font-weight:bold;
}

.dedication {
    text-align: center;
}

.dedication .img-thumbnail {
    background-color: #000;
    border: 1px solid #666666;
}

.dedication .caption {
    background-color: #000;
    border: 1px solid #666666;
}

.margin-bottom {
    margin-bottom: 15px;
}

.album:nth-child(2n+1) {
    background: #8D8181;
    background: -moz-linear-gradient(top, rgba(141,129,129,0.5) 0%, rgba(196,180,180,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(141,129,129,0.5)), color-stop(100%,rgba(196,180,180,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(141,129,129,0.5) 0%,rgba(196,180,180,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(141,129,129,0.5) 0%,rgba(196,180,180,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(141,129,129,0.5) 0%,rgba(196,180,180,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(141,129,129,0.5) 0%,rgba(196,180,180,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808d8181', endColorstr='#80c4b4b4',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    color: white;
}

.tags {
    display: none;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.dropdown-split > a {
    float: left;
}

.dropdown-split > a.foo {
    padding-right: 0px;
}
.dropdown-split > a.bar {
    padding-left: 5px;
}

.contact-spacer {
  display: block;
  padding-left: 20px;
}
.contact-spacer-glyph {
  width: 20px;
} 

.hidden {
  display: none;
}