a, input, select, textarea {
	outline:none !important;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
textarea {
	resize: none;
}
a {
	color:#6a979b;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
a:hover, a:focus {
	text-decoration:none;
	color:#6a979b;
}
body {
	overflow-x:hidden;
	position:relative;
	margin: 0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size: 13px;
	line-height: 20px;
	color: #9a9281;
	background-attachment: fixed;
    background-image: url(../images/bg.jpg);
    background-position: 0 0 !important;
    background-repeat: repeat;
}
.navbar {margin:0;
}
.box_shadow {
	background:#fdfaee;
	padding:0 20px;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
}
.header {
	padding: 0 20px;
	margin: 0 -20px;
	background:#fdfaee;
}

.fleft {float:left;
}
.fright {float:right;
}
.clear {
	height:0;
	clear:both;
	font-size:0;
}
img {
	outline:0;
	vertical-align:top;
}
.logo {
	text-align:center;
}
.logo img {max-width:100%;
}

.top_line {
	margin:0 -20px;
	padding:0 20px;
	background:#3f3c39;
	line-height:26px;
	font-size:11px;
	color:#9a9281;
}

/* ______________________ //Top info ______________________ */

.navbar .nav {
	float:none;
	text-align:center;
}

.page_container {
	padding-bottom:30px;
}
.block {
	padding-bottom:50px;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1, h2, h3, h4, h5, h6 {
	font-weight:300;
	color:#3f3c39;
}
h2.title {
	padding:0;
	margin:0 0 20px 0;
	text-transform:uppercase;
	line-height:31px;
	font-size:17px;
	color:#3f3c39;
}

h2.title a {
	font-size:17px;
	line-height:30px;
	color:#3f3c39;
	text-transform:none;
}
h2.title a:hover {
	color:#6a979b;
	text-decoration:none;
}

.news_block {margin-bottom:5px;
}

.block:last-child {padding-bottom:0;
}

#footer {
	position:relative;
	margin:0 -20px;
	padding:22px 20px 0;
	background:#3f3c39;
	color:#9a9281;
}
#footer a {
	color:#6a979b;
}

#footer p {margin-bottom:21px;
}

#footer li {
	padding:0 0 15px 0;
	margin-bottom:15px;
	line-height:16px;
}
#footer li:last-child {
	border-bottom:0;
	padding-bottom:0;
	margin-bottom:0;
}

.contact_btn {
	position:relative !important;
	padding:6px 13px !important;
	background: #6a979b !important;
	border: 0 !important;
	border-radius: 0;
	box-shadow: 0;
	text-shadow:none;
	text-decoration:none;
	text-transform:none;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	line-height:16px;
	font-size:13px !important;
	color:#fff !important;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.contact_btn:hover {
	background:#595449 !important;
	color:#fff !important;
}


/* contact */
.contact_form { padding-top:6px;
}
.contact_form textarea { min-height:260px !important;
}
.notification_error {
	color: #b94a48;
	background-color: #f2dede;
	border:1px #eed3d7 solid;
    height: auto;
    margin: 0 0 9px 0;
    padding: 10px;
    text-align: left;
}
.notification_ok {
    color: #3a87ad;
	background-color: #d9edf7;
	border:1px #bce8f1 solid;
    height: auto;
    margin: 0 0 9px 0;
    padding: 10px;
    text-align: center;
}

/* ___________________________________ Bootstrap style ___________________________________ */
.btn.disabled {
	color:#333 !important;
}

.nav-list .active a,
.nav-list .active a:hover,
.nav-list .active a:focus {
	background-color:#6a979b;
}

.nav li a:hover,
.nav li a:focus,
.nav-tabs .active a,
.nav-tabs .active a:hover,
.nav-tabs .active a:focus,
.nav-pills .active a,
.nav-pills .active a:hover,
.nav-pills .active a:focus,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-submenu:hover a,
.dropdown-submenu:focus a {
	background-color: #6a979b;
	background-image: none;
}

.input-append .btn,
.input-append .add-on,
.input-prepend .add-on {
	padding:3px 5px;
}

.nav li a:hover, .nav li a:focus,
.nav-tabs .active a,
.nav-tabs .active a:hover,
.nav-tabs .active a:focus,
.nav-pills .active a,
.nav-pills .active a:hover,
.nav-pills .active a:focus,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus,
.dropdown-submenu:hover a,
.dropdown-submenu:focus a,
.nav-tabs.nav-stacked li a,
.nav-tabs .active a,
.nav-tabs .active a:hover,
.nav-tabs .active a:focus,
.tabs-right .nav-tabs,
.tabs-right .nav-tabs .active a,
.tabs-right .nav-tabs .active a:hover,
.tabs-right .nav-tabs .active a:focus,
.tabs-left .nav-tabs,
.tabs-left .nav-tabs .active a,
.tabs-left .nav-tabs .active a:hover,
.tabs-left .nav-tabs .active a:focus,
.tabs-below .nav-tabs,
.tabs-below .nav-tabs .active a,
.tabs-below .nav-tabs .active a:hover,
.tabs-below .nav-tabs .active a:focus {
	border-color:#6a979b;
	color:#fff;
}

.nav-tabs.nav-stacked li a {
	color:#3f3c39;
}
.nav-tabs.nav-stacked li.active a {
	color:#fff;
}

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret,
.nav .dropdown-toggle .caret {
	border-bottom-color: #6a979b;
    border-top-color: #6a979b;
}


.table-striped tbody tr:nth-child(2n+1) td,
.table-striped tbody tr:nth-child(2n+1) th {

}

.prettyprint.linenums {

}

.prettyprint {

}


.pagination ul li a,
.pagination ul li span {
	background-color:#fdfaee;
}
.pagination ul li a:hover,
.pagination ul li a:focus,
.pagination ul .active a,
.pagination ul .active span {
	background-color:#eeebdf;
}
/* __________________________________ //Bootstrap style __________________________________ */

.tags {
    display: none;
}

.dropdown-split > a {
    float: left;
}

.dropdown-split > a.foo {
    padding-right: 0px;
}
.dropdown-split > a.bar {
    padding-left: 5px;
}

.contact-spacer {
  display: block;
  padding-left: 20px;
}
.contact-spacer-glyph {
  width: 20px;
} 

.hidden {
  display: none;
}

/* __________________________________ //Wilson specific __________________________________ */

.image {
	text-align: center;
	margin-bottom: 1em;
}

.image-caption {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 2em;
}

.logo-wrapper {
	position: relative;
	height: 0;
}

.logo-wrapper .logo {
	transition-delay: 0.1s;
	transition-duration: 0.5s;
	position: absolute;
	top: 0;
	background-color: #f5f5f5;
	border: 1px #E7E7E7 solid;
	border-radius: 7px;
	z-index: 10;
}

.push_logo {
	margin-left: 75px;
}

.logo-wrapper .logo img {
	transition-delay: 0.1s;
	transition-duration: 0.5s;
	height: 75px;
}

.logo-wrapper .logo:hover {
	border-radius: 75px;
}

.logo-wrapper .logo:hover img {
	height: 150px;
}

.full-logo {
	height: 50%;
}

.logo-de, .logo-en, .logo-fr {
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	margin-top: 2em;
}
.logo-de {
	background-image: url('/img/de.svg');
	background-size: contain;
	background-repeat: repeat-x;
}
.logo-en {
	background-image: url('/img/en.svg');
}
.logo-fr {
	background-image: url('/img/fr.svg');
}

.logo-de a, .logo-en a, .logo-fr a {
	display: block;
	height: 100%;
	width: 100%;
	padding-top: 90px;
	font-size: 200%;
	font-weight: 900;
}