---
categories: [fr, photos , paysage]
lang: fr
layout: default
navname: photos
h1: photos
p1: paysage
---

{% for post in site.posts %}
    {% assign category_size = post.categories | size %}
    {% assign pid = post.picname %}
    {% assign album_path = 'fr/photos/paysage/' %}
    {% if post.categories contains 'fr' and post.categories contains 'photos' and post.categories contains 'paysage' and category_size == 3 %}{% include photo_thumb.html param=pid param2=album_path %}{% endif %}
{% endfor %}