---
layout: default

navname: dedication

links:
    de:
        url: /de/widmung.html
        name: Widmung
    en:
        url: /en/dedication.html
        name: Dedication
    fr:
        url: /fr/hommage.html
        name: Hommage
trans:
    h1:
        de: Widmung
        en: Dedication
        fr: Hommage
    title:
        de: Widmung
        en: Dedication
        fr: Hommage
    ab1:
        de: Ich widme diese Seite meinem Vater 
        en: I dedicate this page to my father
        fr: Je dédie cette page à mon père 
    ab2:
        de: Und meinem Bruder Udo der die letzten 20 Jahre auf der Farm lebte
        en: and to my brother Udo who stayed for 20 years on on the farm
        fr: et à mon frère Udo qui a vécu ces 20 dernières années sur la propriété

---
<div class="dedication">
{% include image.html param='P0000289' %}

{{ page.trans.ab1[page.lang] | markdownify }}

{% include image.html param='P0000290' %}

{{ page.trans.ab2[page.lang] | markdownify }}

{% include image.html param='P0000291' %}
{% include image.html param='P0000292' %}
{{ content }}
</div>


