---
langs: ['en', 'de', 'fr']
navbar:
  home:
    de:
        url: /de/index.html
        name: Home
    en:
        url: /en/index.html
        name: Home
    fr:
        url: /fr/index.html
        name: Home
  location:
    de:
        url: /de/lage.html
        name: Lage
    en:
        url: /en/location.html
        name: Location
    fr:
        url: /fr/localisation.html
        name: Localisation
  hunting:
    de:
        url: /de/jagd.html
        name: Jagd
    en:
        url: /en/hunting.html
        name: Hunting
    fr:
        url: /fr/chasse.html
        name: Chasse
  recreation:
    de:
        url: /de/erholung.html
        name: Erholung
    en:
        url: /en/recreation.html
        name: Recreation
    fr:
        url: /fr/detente.html
        name: Détente
  photos:
    de:
        url: /de/fotos/
        name: Fotos
    en:
        url: /en/photos/
        name: Photos
    fr:
        url: /fr/photos/
        name: Photos
  price:
    de:
        url: /de/preise.html
        name: Preise
    en:
        url: /en/price.html
        name: Price
    fr:
        url: /fr/tarifs.html
        name: Tarifs
  contact:
    de:
        url: /de/kontakt.html
        name: Kontakt
    en:
        url: /en/contact.html
        name: Contact
    fr:
        url: /fr/contact.html
        name: Contact
  dedication:
    de:
        url: /de/widmung.html
        name: Widmung
    en:
        url: /en/dedication.html
        name: Dedication
    fr:
        url: /fr/hommage.html
        name: Hommage
  imprint:
    de:
        url: /de/impressum.html
        name: Impressum
    en: 
        url: /en/imprint.html
        name: Imprint
    fr:
        url: /fr/imprint.html
        name: Imprint

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>{% if page.title %} {{ page.title }} {% else %}
            {% if page.lang == "de" %}Wilsonfontein - Jagd Safaris in Namibia / Afrika {% endif %}
            {% if page.lang == "en" %}Wilsonfontein - Hunting Safaris in Namibia / Africa {% endif %}
            {% if page.lang == "fr" %}Wilsonfontein - Hunting Safaris en Namibie / Afrique {% endif %}
        {% endif %}</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">

<!-- Documentation extras -->
<link href="/css/wilson.css" rel="stylesheet">
<!-- <link href="/css/pygments-manni.css" rel="stylesheet"> -->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="./js/html5shiv.js"></script>
  <script src="./js/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./ico/apple-touch-icon-72-precomposed.png">
                <link rel="apple-touch-icon-precomposed" href="./ico/apple-touch-icon-57-precomposed.png">
                               <link rel="shortcut icon" href="./ico/favicon.png">

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-146052-10']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

    <!-- Place anything custom after this. -->
  </head>
  <body class="">

    <!-- Docs master nav -->
    <div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
      <div class="container">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        </button>
        <div class="nav-collapse collapse bs-navbar-collapse">
          <ul class="nav navbar-nav">
            {% for navitem in page.navbar %}
              <li {% if navitem[0] == page.navname %}class="active"{% endif %}><a href="{{site.url}}{{navitem[1][page.lang].url}}">{{navitem[1][page.lang].name}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <ul class="nav navbar-nav ">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{page.lang}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for lang in page.langs %}
               <li><a href="{{ site.url }}{{ page.navbar[page.navname][lang].url }}">{{ lang }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <!-- Page content of course! -->
    <div class="row">
        <div class="col-12 col-lg-9 col-offset-1">
          <h1 class="big">{{ page.h1 | capitalize}}{% if page.p1 %} <small>{{ page.p1 | capitalize}}</small>{% endif %}</h1>
          {{ content | markdownify }}
          <footer>
            <p class="pull-right">&copy; Olaf 2013</p>
          </footer>
        </div>
    </div>

    <!-- JS and analytics only. -->
    <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="./js/jquery.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
<script src="/js/bootstrap.js"></script>

<script src="/js/holder.js"></script>

<script src="/js/application.js"></script>

<!-- Analytics
================================================== -->

  </body>
</html>
