---
layout: default
navname: photos
---
{% assign description = page.picinfo[page.lang] %}

{% assign o = site.tags.hideme[0] %}
{% assign pic = o.pics[page.picname] %}
{% assign title = pic.title_trans[page.lang] %}

{% if title == "" or title == null %}
 {% assign title = pic.title %}
{% endif %}

<div class="row">
    <div class="col-1">
        <div id="prev" class="left"> 
        {% if page.prev_photo %} 
            <a href="{{ page.prev_photo }}" title="previous">&laquo; Previous</a> 
        {% endif %} 
        </div> 
    </div>
    <div class="col-10">
        <img src="{{ site.url }}/img/photos/{{ pic.url }}" class="img-thumbnail center img-responsive"/><br>
    </div>
    <div class="col-1">
        <div id="next" class="right"> 
        {% if page.next_photo %} 
            <a href="{{ page.next_photo }}" title="next Post">Next &raquo; </a> 
        {% endif %} 
        </div> 
    </div>
</div>
<div class="col-10 col-lg-6 center clearfix caption">
    <span class="photographer">© {{ pic.author}}</span> -
    <span class="title">{{ title }}</span>
    <p>{{ description }}</p>
</div>

<div class="tags">
{% for tag in pic.tags %}
    <span class="tag">{{tag}}</span>
{% if forloop.rindex0 != 0 %}, {% endif %}
{% endfor %}
</div>

{{ content }}

